body {
    margin: 0;
    padding: 0;
    background: #a71616; 
    font-family: cursive;
    color: white;
}
.navbar {
    background: #7a0f0f;
    
}
h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 45px;
    font-weight: bold;
}

.container-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 80px auto;
    padding: 30px;
    
}

.left-box {
    position: relative;
    display: flex;
    align-items: center;
    gap: 25px;
}

.left-box img {
    width: 300px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 40px;
}

#cronometro {
    background: #f3e8c8;
    padding: 25px 40px;
    border-radius: 20px;
    color: #333;
    border: 5px solid #c6a66c;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    min-width: 170px;
}

.right-box {
    text-align: right;
    max-width: 450px;
}

.right-box h1 {
    font-size: 40px;
    line-height: 1.7;
    text-align: right;
    margin-bottom: 70px;
}

.btn-produtos {
    background: #4aa64f;
    border: 3px solid #2f6e32 ;
    color: white;
    padding: 12px 25px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 25px;
}
.bg-natal-red {
    background-color: #7a0f0f;
    color: white;
}
.bg-natal-green {
    background-color: #2f6e32;
    color: white;
}

@media (max-width: 900px) {
    .container-principal {
        flex-direction: column;
        text-align: center;
    }

    .right-box h1 {
        text-align: center;
    }

    .left-box {
        flex-direction: column;
    }
}
