
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(#b30000, #4a0000); 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}


.card {
    background-color: #F5E9D2;
    border-radius: 18px;
    padding: 25px 35px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    width: 380px;
    border:  5px solid #B08968; 
}


.card img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
}

.card h3 {
    font-family: cursive;
    font-size: 32px;
    color: #5A0E0E;
    text-shadow: 2px 2px #fff3;
}


.card p {
    color: #774E42;
    font-weight: 500;
}


label {
    color: #774E42;
    font-weight: 600;
    display: block;
    margin-bottom: 4px;
}


.form-control {
    border-radius: 20px;
    border: 5px solid #C8A98E;
    background-color: #fff;
}
.form-control:focus {
    border-color: #B08968;
    box-shadow: 0 0 6px #B08968;
}


.btn-success {
    background-color: #2B7A4B;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    transition: 0.2s;
}
.btn-success:hover {
    background-color: #1F5A37;
    transform: scale(1.03);
}


a {
    color: #5A0E0E;
    font-weight: bold;
}
a:hover {
    color: #2B7A4B;
}
@media (max-width: 900px) {
    .container-principal {
        flex-direction: column;
        text-align: center;
    }

    .right-box h1 {
        text-align: center;
    }

    .left-box {
        flex-direction: column;
    }
}
